{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bundle_home.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="hero is-warning">
            <div class="hero-body">
                <div class="content is-medium">
                    {{ page.actual|richtext }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {{ page.body|richtext }}
    </div>
</section>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'bundle_home.js' %}"></script>
{% endblock extra_js %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% include 'home/welcome_page.html' %}
{% endcomment %}