{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bundle_home.css' %}">
{% endblock %}

{% block content %}
<section class="section welcome">
    <div class="container is-family-secondary">
        <div class="columns">
            <div class="column is-two-fifths">
            </div>
            <div class="column">
                <h1 class="title has-text-white-ter">
                    {% if page.show_welcome %}
                        {{ page.welcome }}    
                    {% endif %}
                </h1>
                <div class="content">
                    {{ page.body|richtext }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'bundle_home.js' %}"></script>
{% endblock %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% include 'home/welcome_page.html' %}
{% endcomment %}