<footer class="footer">

    <nav class="level">

        <div class="level-item has-text-centered">
            <div class="content">
                <p><strong>Allgemeines</strong></p>
                <p>
                    <a href="/impressum">Impressum</a><br>
                    <a href="#">Datenschutz</a>
                </p>

            </div>
        </div>

        <div class="level-item has-text-centered">
            <address>
                <strong>Kontakt</strong><br><br>
                Edith-Stein-Schule Sonderpädagogisches Förderzentrum<br>
                Schulstraße 29<br>
                86551 Aichach<br><br>
                Telefon: 08251 87793-0 [08:00 - 12:45 Uhr]<br>
                Fax: 08251 87793-40<br>
                E-Mail: verwaltung@edith-stein-schule.net
            </address>
        </div>

    </nav>

</footer>