<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths">
            </div>
            <div class="column">
                <div class="content">
                    <p><strong>Allgemeines</strong></p>
                    <p>
                        <a href="/impressum">Impressum</a><br>
                        <a href="#">Datenschutz</a>
                    </p>
                </div>
            </div>
            <div class="column">
                <address>
                    <strong>Kontakt</strong><br><br>
                    <div class="is-family-secondary">
                        Edith-Stein-Schule Sonderpädagogisches Förderzentrum<br>
                        Schulstraße 29<br>
                        86551 Aichach<br><br>
                        Telefon: 08251 87793-0 [08:00 - 12:45 Uhr]<br>
                        Fax: 08251 87793-40<br>
                        E-Mail: verwaltung@edith-stein-schule.net
                    </div>
                </address>
            </div>
        </div>
    </div>
</footer>