{% load wagtailcore_tags %}
{% load static %}

<nav class="navbar is-transparent mt-auto">
    <div class="navbar-brand">
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://bulma.io/">
          Startseite
        </a>
        <a class="navbar-item" href="https://bulma.io/">
            Aktuelles
          </a>
        <a class="navbar-item" href="https://bulma.io/">
            Schulprogramm
          </a>
          <a class="navbar-item" href="https://bulma.io/">
            Unser Angebot
          </a>
          <a class="navbar-item" href="https://bulma.io/">
            Für Schüler
          </a>
          <a class="navbar-item" href="https://bulma.io/">
            Service
          </a>
          <a class="navbar-item" href="https://bulma.io/">
            Archiv
          </a>
          <a class="navbar-item" href="https://bulma.io/">
            Intern
          </a>
      </div>
    </div>
  </nav>